<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Simple TO-DO</title>
    <link rel="stylesheet" href="css/main.css">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div class="container" id="app" v-cloak>
    <div class="card">
        <h1>{{ title }}</h1>
        <div class="form-control">
            <input type="text"
                   :placeholder="inputPlaceholder"
                   v-model="inputValue"
                   @keypress.enter="addNewNote"
            />
        </div>
        <button class="btn primary" @click="addNewNote">Add</button>
        <hr />
        <ul class="list" v-if="notes.length > 0">
            <li class="list-item" v-for="newNote in notes">
                {{ toUpperCase(newNote) }}
                <button class="btn danger" @click="removeNote">Delete</button>
            </li>
        </ul>
        <div v-else>
            An empty list of notes.
            The notes will appear here if you add them.
        </div>
    </div>
</div>
<script src="https://unpkg.com/vue@next"></script>
<script src="app.js"></script>


</body>
</html>
